---
title: ELE747 - Analyse et traitement d'images
description: 
---

<h2>Derniers messages</h2>

{{# posts_latest }}
<div class="post">
  <h3 class="title"><a href="{{url}}">{{title}}</a> <span class="date">{{ date }}</span></h3>

  {{{ summary }}}

  <div class="more">
    <a href="{{url}}" class="btn">Lire d'avantage..</a>
  </div>
</div>
{{/ posts_latest }}